<div class="matrix-chart-container" [ngClass]="currentTheme()">
    <svg [attr.viewBox]="'0 0 ' + width + ' ' + height" preserveAspectRatio="none" (mousemove)="onMouseMove($event)"
        (mouseleave)="onMouseLeave()" class="select-none">

        <defs>
            <linearGradient id="neonCommits" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" stop-color="#00f2fe" />
                <stop offset="100%" stop-color="#4facfe" />
            </linearGradient>
            <linearGradient id="neonEfficiency" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" stop-color="#f83600" />
                <stop offset="100%" stop-color="#f9d423" />
            </linearGradient>
        </defs>

        <line [attr.x1]="padding" [attr.y1]="height/2" [attr.x2]="width-padding" [attr.y2]="height/2"
            class="grid-line" />
        <line [attr.x1]="padding" [attr.y1]="padding" [attr.x2]="width-padding" [attr.y2]="padding" class="grid-line" />
        <line [attr.x1]="padding" [attr.y1]="height-padding" [attr.x2]="width-padding" [attr.y2]="height-padding"
            class="grid-line" />

        <path [attr.d]="efficiencyPath()" class="data-line efficiency-line" />
        <path [attr.d]="commitsPath()" class="data-line commits-line" />

        <line *ngIf="hoverX() !== null" [attr.x1]="hoverX()" [attr.y1]="padding" [attr.x2]="hoverX()"
            [attr.y2]="height - padding" class="hover-tracker" />
    </svg>

    <div *ngIf="activePoint() as point" [style.left.px]="mouseX() + 20" [style.top.px]="mouseY() - 40"
        class="html-tooltip">
        <div class="tooltip-date">{{ point.date }}</div>
        <div class="tooltip-row">
            <span class="dot commit-dot"></span>
            <span>Commits:</span>
            <strong class="val-bold">{{ point.commits }}</strong>
        </div>
        <div class="tooltip-row">
            <span class="dot eff-dot"></span>
            <span>Efficiency:</span>
            <strong class="val-bold">{{ point.efficiencyScore }}%</strong>
        </div>
    </div>

    <div class="time-machine-controls" *ngIf="mappedPoints().length > 0">
        <label>Time Machine Scrub:</label>
        <input type="range" [min]="0" [max]="mappedPoints().length - 1" [value]="timeSliderValue()"
            (input)="onSliderChange($event)" class="cyber-slider">
    </div>
</div>